appdirs==1.4.4
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.5
cycler==0.11.0
distlib==0.3.4
et-xmlfile==1.1.0
filelock==3.6.0
fonttools==4.33.3
idna==3.3
joblib==1.1.0
kiwisolver==1.4.2
lxml==4.9.1
matplotlib==3.5.2
mpmath==1.2.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pandas-stubs==1.4.3.220704
Pillow==9.1.0
platformdirs==2.5.2
py==1.11.0
pyparsing==3.0.8
pyshark==0.5.3
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sympy==1.10.1
threadpoolctl==3.1.0
tqdm==4.64.0
urllib3==1.26.9
virtualenv==20.14.1
virtualenvwrapper-win==1.2.7